<div class="container-xxl mt-3 my-md-4"
     style="display: grid;
            grid-template-areas: sidebar main;
            grid-template-columns: 1fr 5fr;
            gap: 1.5rem;">

  <!-- SIDEBAR -->
  <aside>
    <div class="list-group">

      <a href="/" class="list-group-item list-group-item-action">
        Home
      </a>

      <a href="/products" class="list-group-item list-group-item-action">
        Products
      </a>

      <a href="/products/create" class="list-group-item list-group-item-action">
        Add Product
      </a>

      <a href="/sales/create" class="list-group-item list-group-item-action">
        New Sale
      </a>

      <a href="/sales" class="list-group-item list-group-item-action">
        Sales List
      </a>

      <a href="/supermarkets" class="list-group-item list-group-item-action">
        Supermarkets
      </a>

      <a href="/supermarkets/create" class="list-group-item list-group-item-action">
        Add Supermarket
      </a>

      

    </div>
  </aside>

  <!-- MAIN CONTENT -->
  <main style="padding: 10px;">
      </main>
</div>