<div class="profile-page">

  <h1>
    Client Profile
  </h1>

  <div *ngIf="loading">

    Loading profile...

  </div>

  <div
    *ngIf="
      !loading &&
      user
    "
  >

    <div class="profile-card">

      <p>

        <strong>
          Username:
        </strong>

        {{ user.username }}

      </p>

      <p>

        <strong>
          Email:
        </strong>

        {{ user.email }}

      </p>

      <p>

        <strong>
          Role:
        </strong>

        {{ user.role }}

      </p>

    </div>

  </div>

</div>