<nav class="navbar">

  <div class="logo">

    <a routerLink="/home">

      Supermarket Marketplace

    </a>

  </div>

  <div class="nav-links">

    <a routerLink="/home">

      Home

    </a>

    <ng-container *ngIf="!isLoggedIn">

      <a routerLink="/login">

        Login

      </a>

      <a routerLink="/register/select">

        Register

      </a>

    </ng-container>

    <ng-container *ngIf="isLoggedIn">

      <button (click)="logout()">

        Logout

      </button>

    </ng-container>
    

  </div>

</nav>

<div class="page-container">

  <router-outlet></router-outlet>

</div>