<div class="cart-page">

  <!-- HEADER -->

  <div class="cart-header">

    <h1>
      Shopping Cart
    </h1>

    <p>
      Review your selected products before checkout.
    </p>

  </div>

  <!-- EMPTY CART -->

  <div
    *ngIf="
      cart.length === 0
    "
    class="empty-cart"
  >

    <h2>
      Your cart is empty
    </h2>

    <p>
      Add products to continue shopping.
    </p>

  </div>

  <!-- CART PRODUCTS -->

  <div
    class="cart-grid"

    *ngIf="
      cart.length > 0
    "
  >

    <div
      class="cart-card"

      *ngFor="
        let product of cart
      "
    >

      <!-- PRODUCT IMAGE -->

      <div class="cart-image-container">

        <img

          [src]="
            'http://localhost:3000/images/' +
            product.image
          "

          alt="Product Image"

          class="cart-image"
        >

      </div>

      <!-- PRODUCT INFO -->

      <div class="cart-info">

        <div class="top-info">

          <span class="category">

            {{ product.category }}

          </span>

          <h2>

            {{ product.name }}

          </h2>

        </div>

        <p class="description">

          {{ product.description }}

        </p>

        <div class="details">

          <div class="detail-box">

            <span class="label">

              Quantity

            </span>

            <span class="value">

              {{ product.quantity }}

            </span>

          </div>

          <div class="detail-box">

            <span class="label">

              Unit Price

            </span>

            <span class="value price">

              €{{ product.price }}

            </span>

          </div>

        </div>

        <!-- ACTIONS -->

        <div class="cart-actions">

          <button

            class="remove-btn"

            (click)="remove(product._id)"
          >

            Remove

          </button>

        </div>

      </div>

    </div>

  </div>

  <!-- CHECKOUT -->

  <div
    class="checkout-box"

    *ngIf="
      cart.length > 0
    "
  >

    <div class="checkout-info">

      <span class="checkout-label">

        Total Amount

      </span>

      <h2>

        €{{ total }}

      </h2>

    </div>

    <button

      class="checkout-btn"

      (click)="checkout()"
    >

      Proceed to Checkout

    </button>

  </div>

</div>