<div class="products-page">

  <!-- HEADER -->

  <div class="page-header">

    <h1>
      Products
    </h1>

    <p>
      Discover products from multiple supermarkets
      and compare prices instantly.
    </p>

  </div>

  <!-- LOADING -->

  <div
    *ngIf="loading"
    class="loading"
  >

    Loading products...

  </div>

  <!-- EMPTY -->

  <div
    *ngIf="
      !loading &&
      products.length === 0
    "
    class="empty-state"
  >

    No products available.

  </div>

  <!-- PRODUCTS GRID -->

  <div
    class="products-grid"

    *ngIf="
      !loading &&
      products.length > 0
    "
  >

    <div
      class="product-card"

      *ngFor="
        let product of products
      "
    >

      <!-- IMAGE -->

      <div class="image-container">

        <img

          [src]="
            'http://localhost:3000/images/' +
            product.image
          "

          alt="Product Image"

          class="product-image"
        >

      </div>

      <!-- INFO -->

      <div class="product-info">

        <div class="top-info">

          <span class="category">

            {{ product.category }}

          </span>

          <h2>

            {{ product.name }}

          </h2>

        </div>

        <p class="description">

          {{ product.description }}

        </p>

        <!-- FOOTER -->

        <div class="product-footer">

          <div class="price-box">

            <span class="price-label">
              Price
            </span>

            <span class="price">

              €{{ product.price }}

            </span>

          </div>

          <button
            class="cart-button"

            (click)="addToCart(product)"
          >

            Add to Cart

          </button>

        </div>

      </div>

    </div>

  </div>

</div>